p, button {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

html {
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    font-family: "Roboto", serif;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    width: auto;
}

#travel-map {
    height: 500px;
    text-align: center;
}

#travel-map iframe {
    height: 100%;
    width: 100%;
}

#map-legend {
    margin: 20px;
}

.about-image {
    border-radius: 50%;
    height: 200px;
}

.about-paragraph {
    text-align: justify;
}

.social-link {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.map-label {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

.nav-bar {
    background-color: #1c539f;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    width: 100%;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
}

.nav-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.nav-logo img {
    width: 200px;
}

.nav-links {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.nav-link {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #2570d9;
}

.profile {
    background-color: #1d539f !important;
    margin-bottom: 50px;
    text-align: center;
}

.profile h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    padding-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
}

.profile .profile-picture {
    height: 200px;
    margin-bottom: 30px;
}

.banner {
    background-color: #1d539f;
    height: 150px;
    padding: 20px 0 50px 0;
}

.banner .logo {
    height: auto;
    max-height: 60px;
    max-width: 180px;
    width: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.about {
    color: black;
    margin: 0;
    width: 100%;
}

.about-groupmate {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.about-blurb {
    font-family: Lato, sans-serif;
    min-width: 300px;
    text-align: center;
}

.experience-blurb {
    font-family: Lato, sans-serif;
    min-width: 300px;
}

.member-name {
    text-align: center;
}

.job-block {
    margin-top: 50px;
    margin-bottom: 50px;
}

.job-title {
    margin-bottom: 5px;
}

.job-description {
    text-align: justify;
}

.padded {
    padding-left: 25px;
    padding-right: 25px;
}

.job-employer {
    font-style: italic;
    margin: 0;
}

.about-img {
    border-radius: 50%;
}

/* for the three columns */
@media (min-width: 1150px) {
    .about-groupmate {
        display: flex;
        margin: 0 auto;
        max-width: 1100px;
        text-align: left;
    }

    .about-blurb + .about-blurb {
        margin-left: 5em;
    }
}