<!DOCTYPE html>
<html lang="en">
<head>
    {%  include "components/header.html" %}
</head>
<body>
<!-- Navbar -->
{{ nav.navigation.render(renderer='navbar') }}

<div class="profile">
    <div id="profile-picture" class="profile-picture">
        <img src="static/img/logo.jpg">
    </div>
    <h1>{{ title }}</h1>
</div>

<!-- Columns/Work Experience section -->
<section class="about" id="about">
    <div class="about-groupmate">
        {% for member in json_data.keys() %}
            <div class="about-blurb">
                <h3>{{ member }}</h3>
                {% for job in json_data[member]["work experience"] %}
                    <h1>{{ job.title }}</h1>
                    <p>{{ job.description }}</p>
                {% else %}
                    <p>No jobs. Unemployed.</p>
                {% endfor %}
            </div>
        {% else %}
            <p>No group members to get work experience</p>
        {% endfor %}
    </div>
</section>
</body>
</html>