<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/header.html" %}
</head>
<body>
<!-- Navbar -->
{{ nav.navigation.render(renderer='navbar') }}

<div class="profile">
    <h1>{{ title }}</h1>
</div>

<!-- Columns/Work Experience section -->
<section class="about" id="about">
    <div class="about-groupmate">
        {% for member in json_data.keys() %}
            <div class="experience-blurb padded">
                <h2 class="member-name">{{ member }}</h2>
                {% for job in json_data[member]["work experience"] %}
                    <div class="job-block">
                        <h3 class="job-title">{{ job.title }}</h3>
                        <p class="job-employer">{{ job.employer }}</p>
                        <p class="job-description">{{ job.description }}</p>
                    </div>
                    <div class="job-block">
                        <h3 class="job-title">{{ job.title }}</h3>
                        <p class="job-employer">{{ job.employer }}</p>
                        <p class="job-description">{{ job.description }}</p>
                    </div>
                {% else %}
                    <p>No jobs. Unemployed.</p>
                {% endfor %}
            </div>

        {% else %}
            <p>No group members to get work experience</p>
        {% endfor %}
    </div>
</section>
</body>
</html>