<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/header.html" %}
</head>
<body>
<!-- Navbar -->
{{ nav.navigation.render(renderer='navbar') }}

<div class="profile">
    <h1>{{ title }}</h1>
</div>

<!-- Columns/Work Experience section -->
<section class="about" id="about">
    <div class="about-groupmate">
        {% for member in json_data.keys() %}
            <div class="hobby-blurb padded">
                <h2 class="member-name">{{ member }}</h2>
                {% for hobby in json_data[member]["hobbies"] %}
                    <h1 class="hobby-title">{{ hobby.title }}</h1>
                    <img alt="{{ hobby.title }} image" class="hobby-image" src="{{ hobby.image }}">
                    <p class="job-description">{{ hobby.description }}</p>
                {% else %}
                    <p>No hobbies.</p>
                {% endfor %}
            </div>
        {% else %}
            <p>No group members to get work experience</p>
        {% endfor %}
    </div>
    <div id="travel-map">
        <h1>Where We've Been</h1>
        <div id="map-legend">
            {% for member in json_data.keys() %}
                <span class="map-label">
                    <i class="fa-solid fa-location-pin" style="color: {{ json_data[member]["favorite_color"] }}"></i>
                    {{ member }}
                </span>
            {% else %}
                <p>No members to display info for</p>
            {% endfor %}
        </div>
        <iframe src="{{ url_for('travel_map') }}" title="travel map"></iframe>
    </div>
</section>
</body>
</html>