<!DOCTYPE html>
<html lang="en">

<head>
    {% include "components/header.html" %}
</head>

<body>
<!-- Navbar -->
{{ nav.navigation.render(renderer='navbar') }}

<div class="profile">
    <h1>{{ title }}</h1>
</div>

<!-- Columns/About us section -->
<section class="about" id="about">
    <div class="about-groupmate">
        {% for member in json_data.keys() %}
            <div class="about-blurb">
                <h2 class="member-name">{{ member }}</h2>
                <!-- image/avatar of yourself -->
                <img class="about-image" alt="{{ member }}'s profile pic" src="{{ json_data[member]["profile pic"] }}">
                <p class="education">{{ json_data[member]["education"] }}</p>

                <!-- links to socials -->
                <div>
                    <!-- No else clause - We want this to be blank with no social links -->
                    {% for site in json_data[member]["social links"].keys() %}
                        <a class="social-link" href="{{ json_data[member]["social links"][site] }}">
                            <i class="fa-brands fa-{{ site }}"></i>
                        </a>
                    {% endfor %}
                </div>

                <p class="about-paragraph">{{ json_data[member]["about"] }}</p>
            </div>
        {% else %}
            <p>No group members to show info for</p>
        {% endfor %}


    </div>
</section>

</body>
</html>